/*-----------------------------Genral------------------------------------*/
:root {
    --green: #53c56b;
    --dark-grey: #4a4a49;
    --grey: #909090;
    --border-grey: #f4f4f4;
    --white: #ffffff;
    --black: #000000;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
}
p {
    color: #909090;
}

.top-border {
    border-top: 1px solid var(--border-grey);
}
.left-border {
    border-left: 1px solid var(--border-grey);
}
.right-border {
    border-right: 1px solid var(--border-grey);
}
.bottom-border {
    border-bottom: 1px solid var(--border-grey);
}
.btn-green {
    background-color: var(--green);
    color: var(--white);
    padding: 14px 28px;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}
.btn-login {
    background-color: var(--green);
    color: var(--white);
    padding: 10px 28px;
}
button:focus{
    outline: none;
}
.jump {
    animation: shapeani3 5s linear infinite;
    -webkit-animation: shapeani3 5s linear infinite;
}
.btn-scroll{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 999;
}
.btn-scroll img{
    width: 50px;
} 
@keyframes shapeani3 {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(15px);
    }
}

.jump-2 {
    animation: movebounce 3.9s linear infinite;
}

@keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*-----------------------------/Genral------------------------------------*/

/*-----------------------------Slider------------------------------------*/
.slider {
    width: 100%;
}

.slick-slide {
    margin: 0;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 0.5;
}

.slick-current {
    opacity: 1;
}
.slide-section {
    position: relative;
}
.slide-banner-section {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(83, 197, 107);
    background: linear-gradient(90deg, rgba(83, 197, 107, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
/* .slide-banner-section::before{
    content: "";
    background-image: url(../img/shap.png);
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 213px;
} */
.slide-banner-section .slide-text {
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 10%;
    color: #ffffff;
}
.slide-banner-section .slide-text h2 {
    font-size: 42px;
    font-weight: 600;
}
.slide-banner-section .slide-text h6 {
    font-size: 18px;
}
.variable .slick-dots {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    width: auto;
    height: 35px;
    margin: auto;
}
.variable .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}
.variable .slick-dots li button:before {
    font-size: 12px;
}
.variable.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.variable .slick-slide img {
    /* height: 100vh; */
}
.variable .box-slider {
    object-fit: cover;
    height: 100vh;
}
.back-shap {
    position: absolute;
    bottom: -2px;
    width: 100%;
}

/*-----------------------------/Slider------------------------------------*/
/*-----------------------------Navbar------------------------------------*/

.box-navbar {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
    
}
.box-navbar ul.navbar-nav li{
    background-color: transparent;
}
.box-navbar ul.navbar-nav li a {
    color: #fff;
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
.box-navbar ul.navbar-nav li:hover a {
    color:var(--green);
    border-bottom: 2px solid var(--green);
}
.fixed{
    background-color: var(--white);
    transform: translatey(0px);
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
}
.fixed ul.navbar-nav li a{
    background-color: var(--white);
    color: var(--dark-grey);
    background-color: transparent;
    
}
/*-----------------------------/Navbar------------------------------------*/

/*-----------------------------About-us------------------------------------*/

.about-us h3 {
    color: #53c56b;
    font-size: 32px;
    font-weight: 600;
}
.about-us h6 {
    font-size: 24px;
}
.about-us h6,
.about-us p {
    color: #909090;
}
/*-----------------------------/About-us------------------------------------*/
/*-----------------------------how-it-work------------------------------------*/
.how-it-work span {
    width: 65px;
    height: 65px;
    background: var(--green);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #c4ebcd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
}
.how-it-work h4 {
    font-size: 18px;
    color: var(--dark-grey);
    margin: 14px 0;
}
.how-it-work h6 {
    font-size: 14px;
    color: var(--grey);
}
/*-----------------------------/how-it-work------------------------------------*/
/*-----------------------------feature------------------------------------*/
.feature h2 {
    font-size: 32px;
    color: var(--green);
}
.feature h6 {
    font-size: 14px;
    color: var(--grey);
}
.feature .card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.feature .card img {
    object-fit: cover;
    height: 250px;
    border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -ms-border-radius: 12px 12px 0px 0px;
    -o-border-radius: 12px 12px 0px 0px;
}
.feature .card .card-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-grey);
}
.feature .card .card-text {
    font-size: 14px;
    color: var(--grey);
}

/*-----------------------------/feature------------------------------------*/
/*-----------------------------have-somthing------------------------------------*/
.have-somthing h2 {
    font-size: 32px;
    font-weight: 600;
}
.have-somthing p {
    font-size: 16px;
}
/*-----------------------------/have-somthing------------------------------------*/
/*-----------------------------get-app------------------------------------*/

.get-app .store-button img{
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 150px;
    margin-right: 15px;
}
.box-search{
    padding: 10px;
    border: 1px solid var(--border-grey);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.box-search input{
    border: none;
}
.box-search input:focus{
    box-shadow: none;
}
/*-----------------------------/get-app------------------------------------*/
/*-----------------------------Footer------------------------------------*/
.box-footer {
    background-color: #ddfae3;
    padding: 50px 50px 20px ;
}
.box-footer h3{
    font-size: 18px;
    font-weight: 600;
}
.box-footer a{
    color: var(--dark-grey);
    display: block;
    margin-bottom: 10px;
}
.box-footer img {
    width: 100px;
}
.box-footer .store-button img{
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 150px;
    margin-top: 10px;
}
.box-footer .copyright{
    margin: 0;
}
/*-----------------------------/Footer------------------------------------*/